.middleman-modal {
  width: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 0px none;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 8px;
  outline: none;
  /* box-shadow: rgb(0, 0, 0) 0px 2px 4px 0px; */
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-right: -50%;
  transform: translate(-50%, 0px);
}

.middleman-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.middleman-header {
  color: #303030;
}

.middleman-content {
  box-shadow: rgb(0, 0, 0) 0px 2px 4px 0px;
  position: absolute;
  top: 80px;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, 0);
  border: 0px none;
  background: rgb(48, 51, 56);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  min-width: 600px;
}

.middleman-container {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

.middleman-containerOpen {
}

.middleman-input {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  width: 590px;
  padding: 12px 14px;
  outline: none;
  background-color: #ffffff;
  color: #505050;
  caret-color: #568af2;
}

.middleman-inputOpen {
}

.middleman-inputFocused {
  background-color: #ffffff;
}

.middleman-suggestionsContainer {
  padding: 14px 8px;
}

.middleman-suggestionsContainerOpen {
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
  max-height: 315px;
}

.middleman-suggestionsList {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.middleman-suggestion {
  color: #303030;
  font-weight: 500;
  border-top: 0px none;
  background-color: #ffffff;
  padding: 12px;
  cursor: pointer;
}

.middleman-suggestion .middleman-suggestion b {
  color: #598cef;
  font-weight: bold;
}
.middleman-suggestionFirst {
}

.middleman-suggestionHighlighted {
  color: #303030;
  background-color: #f7f7f7;
}

.middleman-spinner {
  border-top: 0.4em solid rgba(255, 255, 255, 0.2);
  border-right: 0.4em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
  border-left: 0.4em solid rgb(255, 255, 255);
}
